@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts-letter/CenturyGothic.eot');
    src: url('../fonts-letter/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts-letter/CenturyGothic.woff2') format('woff2'),
        url('../fonts-letter/CenturyGothic.woff') format('woff'),
        url('../fonts-letter/CenturyGothic.ttf') format('truetype'),
        url('../fonts-letter/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts-letter/CenturyGothic-Bold.eot');
    src: url('../fonts-letter/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts-letter/CenturyGothic-Bold.woff2') format('woff2'),
        url('../fonts-letter/CenturyGothic-Bold.woff') format('woff'),
        url('../fonts-letter/CenturyGothic-Bold.ttf') format('truetype'),
        url('../fonts-letter/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}



